body {
  font-size: 20px;
}

nav {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Edge doesn't support all: unset */
@supports not (all: unset) {
  nav {
    position: static;
  }
}

nav a {
  line-height: 1.2;
}

section .text-container {
  position: relative;
  padding: 30vh 5vw 5vw 5vw;
}
section .text-container .card {
  margin: 0;
  max-width: 460px;
}
section .text-container .overview {
  margin: 0 0 0 auto;
}

#obchody .text-container .overview,
#historia .text-container .overview {
  margin: 0 auto 0 0;
}
#obchody .text-container .expand-button,
#historia .text-container .expand-button {
  bottom: calc(5vw + 1.8em);
  left: calc(5vw + 3em);
  right: unset;
}

section .text-container .expand-button {
  bottom: calc(5vw + 1.8em);
  right: calc(5vw + 3em);
}

footer {
  flex-direction: row;
  justify-content: space-around;
  z-index: 5;
  position: relative;
}
footer .author a::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 160ms ease-in-out;
}
footer .author a:focus::before,
footer .author a:hover::before {
  transform: none;
}

/* SECTION parallax images */
body.upgraded-parallax {
  perspective: 1px;
}

body.upgraded-parallax section {
  transform-style: preserve-3d;
}
body.upgraded-parallax .hero-image {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  pointer-events: none;
}
body.upgraded-parallax section.active .hero-image {
  opacity: 1;
}
body.upgraded-parallax .hero-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
}

body.upgraded-parallax .hero-image.l1 {
  transform: translateZ(-1px) scale(2);
  z-index: 3;
}
body.upgraded-parallax .hero-image.l2 {
  transform: translateZ(-2px) scale(3);
  z-index: 2;
}
body.upgraded-parallax .hero-image.l3 {
  transform: translateZ(-3px) scale(4);
  z-index: 1;
}

body.upgraded-parallax #home .hero-image.l3::after {
  background-image: url(../images/layered/img0-layer3.png);
}
body.upgraded-parallax #home .hero-image.l2::after {
  background-image: url(../images/layered/img0-layer2.png);
}
body.upgraded-parallax #home .hero-image.l1::after {
  background-image: url(../images/layered/img0-layer1.png);
}

body.upgraded-parallax #obchody .hero-image.l3::after {
  background-image: url(../images/layered/img0-layer3.png);
}
body.upgraded-parallax #obchody .hero-image.l2::after {
  background-image: url(../images/layered/img0-layer2.png);
}
body.upgraded-parallax #obchody .hero-image.l1::after {
  background-image: url(../images/layered/img0-layer1.png);
}

body.upgraded-parallax #polonia .hero-image.l3::after {
  background-image: url(../images/layered/img0-layer3.png);
}
body.upgraded-parallax #polonia .hero-image.l2::after {
  background-image: url(../images/layered/img0-layer2.png);
}
body.upgraded-parallax #polonia .hero-image.l1::after {
  background-image: url(../images/layered/img0-layer1.png);
}

body.upgraded-parallax #historia .hero-image.l3::after {
  background-image: url(../images/layered/img0-layer3.png);
}
body.upgraded-parallax #historia .hero-image.l2::after {
  background-image: url(../images/layered/img0-layer2.png);
}
body.upgraded-parallax #historia .hero-image.l1::after {
  background-image: url(../images/layered/img0-layer1.png);
}

body.upgraded-parallax #inne-kraje .hero-image.l3::after {
  background-image: url(../images/layered/img0-layer3.png);
}
body.upgraded-parallax #inne-kraje .hero-image.l2::after {
  background-image: url(../images/layered/img0-layer2.png);
}
body.upgraded-parallax #inne-kraje .hero-image.l1::after {
  background-image: url(../images/layered/img0-layer1.png);
}
/* SECTION-END */