.phone-parallax-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: absolute;
  top: 5vh;
  right: 2vw;
  background: none;
  border: none;
  font-size: 16px;
  color: red;
  z-index: 5;
  outline: none;
  font-family: 'Oswald', -apple-system, 'Segoe UI', Helvetica, sans-serif;
  font-weight: 300;
  padding: 1em;
}
section:not(.active) .phone-parallax-btn {
  display: none;
}

@supports (animation-name: test) {

  @keyframes open-hint {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: none;
      opacity: 1;
    }
  }
  .hero-image.l1 .phone-parallax-btn {
    animation: open-hint 200ms ease-out;
  }

  @keyframes pulse {
    60% {
      transform: scale(1);
    }
    70% {
      transform: scale(0.8);
    }
    80% {
      transform: scale(1);
    }
  }
  @keyframes pulse-before {
    00% {
      opacity: 0;
      transform: scale(0.8);
    }
    65% {
      opacity: 1;
      transform: scale(0.8);
    }
    80% {
      opacity: 0;
      transform: scale(4);
    }
    100% {
      opacity: 0;
      transform: scale(0.6);
    }
  }
  .phone-parallax-btn span {
    height: 0.7em;
    width: 0.7em;
    margin-right: 1em;
    position: relative;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.3);
    animation: pulse 4s ease-in-out infinite;
  }
  .phone-parallax-btn span::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.2);
    animation: pulse-before 4s ease-in-out infinite;
  }

}

#phone-parallax-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #fefefe;
  transform: none;
  transition: transform 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
#phone-parallax-overlay.closed {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform: translateY(100%) scaleY(0.5);
}

#ppo-close-btn {
  position: fixed;
  top: 40px;
  right: 30px;
  z-index: 14;
  color: black;
  font-family: 'Parisienne', Georgia, 'Times', 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 20px;
  text-shadow: 0 1px 8px white;
}

#phone-parallax-overlay .parallax {
  overflow: hidden;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#phone-parallax-overlay .parallax div {
  height: 100%;
  width: 120%;
  position: absolute;
  top: 0;
  background-position: center;
  background-size: cover;
  will-change: transform;
}

#phone-parallax-overlay .parallax .l1 {
  z-index: 13;
}
#phone-parallax-overlay .parallax .l2 {
  z-index: 12;
}
#phone-parallax-overlay .parallax .l3 {
  z-index: 11;
}

#phone-parallax-overlay.home .parallax .l1 {
  background-image: url(../images/layered/img0-layer1.png);
}
#phone-parallax-overlay.home .parallax .l2 {
  background-image: url(../images/layered/img0-layer2.png);
}
#phone-parallax-overlay.home .parallax .l3 {
  background-image: url(../images/layered/img0-layer3.png);
}

#phone-parallax-overlay.obchody .parallax .l1 {
  background-image: url(../images/layered/img1-layer1.png);
}
#phone-parallax-overlay.obchody .parallax .l2 {
  background-image: url(../images/layered/img1-layer2.png);
}
#phone-parallax-overlay.obchody .parallax .l3 {
  background-image: url(../images/layered/img1-layer3.png);
}

#phone-parallax-overlay.polonia .parallax .l1 {
  background-image: url(../images/layered/img2-layer1.png);
}
#phone-parallax-overlay.polonia .parallax .l2 {
  background-image: url(../images/layered/img2-layer2.png);
}
#phone-parallax-overlay.polonia .parallax .l3 {
  background-image: url(../images/layered/img2-layer3.png);
}

#phone-parallax-overlay.historia .parallax .l1 {
  background-image: url(../images/layered/img3-layer1.png);
}
#phone-parallax-overlay.historia .parallax .l2 {
  background-image: url(../images/layered/img3-layer2.png);
}
#phone-parallax-overlay.historia .parallax .l3 {
  background-image: url(../images/layered/img3-layer3.png);
}

#phone-parallax-overlay.inne-kraje .parallax .l1 {
  background-image: url(../images/layered/img4-layer1.png);
}
#phone-parallax-overlay.inne-kraje .parallax .l2 {
  background-image: url(../images/layered/img4-layer2.png);
}
#phone-parallax-overlay.inne-kraje .parallax .l3 {
  background-image: url(../images/layered/img4-layer3.png);
}